//  box Title
.boxTitle {
    text-align: center;
    padding: 0.5rem 1.8rem 0;
    // title
    .__title {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 4px;
    }
    //hoz-line
    .hoz-line {
        width: 100%;
        height: 4px;
        background-color: $darkCoral-color;
        width: 8rem;
        margin: 0.4rem auto 0.6rem auto;
    }
}