.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    //  responsive
    // media-medium-2
    @include media-medium-2 {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
}