@import '../components/social.links';
.footer {
    background-color: $black-color;
    .social-links {
        justify-content: center;
        .__link {
            margin: 1rem;
            font-size: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .__text {
        text-align: center;
        font-weight: 400;
        color: $white-color;
        font-size: 1.4rem;
    }
}