@import '../core/variables';
@import '../components/social.links';
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../img/banner-img.jpg') center/cover no-repeat fixed;
    height: 100vh;
    // row
    .row {
        height: 100%;
        display: grid;
        place-content: center;
        place-items: center;
        text-align: center;
        .typeEffect {
            font-size: 3rem;
            font-weight: 900;
            color: $white-color;
            //  responsive
            @include media-medium-2 {
                font-size: 4rem;
            }
        }
        // down-arrow
        .down-arrow {
            margin-top: 3rem;
            animation-name: arrowMovement;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transition: $transition;
            a {
                color: $white-color;
                font-size: 2.5rem;
            }
        }
    }
}