@import './variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    position: relative;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black-color;
}

img {
    display: block;
    width: 100%;
}

button {
    outline: 0;
    cursor: pointer;
}