@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,200&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

img {
  display: block;
  width: 100%; }

button {
  outline: 0;
  cursor: pointer; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 992px and up) */
/* Large devices (laptops/desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.preloader {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; }
  .preloader .loader {
    position: absolute;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border: 0.6rem solid #f5f5f5;
    border-radius: 50%;
    border-top: 0.6rem solid #333;
    animation: spin 1s linear infinite; }

.hidePreloader {
  display: none; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }
  @media only screen and (min-width: 992px) {
    .container {
      display: flex !important;
      align-items: center;
      justify-content: space-between; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  box-shadow: 0px -3px 12px 0px #d6cfd6;
  -webkit-box-shadow: 0px -3px 12px 0px #d6cfd6;
  -moz-box-shadow: 0px -3px 12px 0px #d6cfd6;
  display: none; }

.navbar-sm {
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-width: 992px) {
    .navbar-sm {
      margin: 0;
      box-shadow: none;
      flex: 0 0 10rem; } }

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize; }

.navbar-toggler {
  background: none;
  border: none;
  font-size: 1.6rem;
  transition: var(--transition); }
  .navbar-toggler:hover {
    opacity: 0.6; }
  @media only screen and (min-width: 992px) {
    .navbar-toggler {
      display: none; } }

.navbar-collapse {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease; }
  @media only screen and (min-width: 992px) {
    .navbar-collapse {
      height: 100%;
      flex: 1 0 auto; } }

.navbar-nav {
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .navbar-nav {
      display: flex;
      justify-content: flex-end; } }

.nav-item {
  padding: 0.8rem;
  border-bottom: 1.5px solid #f5f5f5; }
  .nav-item:last-child {
    border-bottom: none; }
  @media only screen and (min-width: 992px) {
    .nav-item {
      border-bottom: none;
      margin: 0 1rem; } }

.nav-link {
  text-transform: uppercase;
  transition: all 0.4s ease; }
  .nav-link:hover {
    color: #c7c7c7; }

.toggleNav {
  padding: 1rem 0;
  height: 17rem; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../-brian--portfolio-website-master/assets/banner-img.jpg") center/cover no-repeat fixed;
  height: 100vh; }
  .header .row {
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center; }
    .header .row .typeEffect {
      font-size: 3rem;
      font-weight: 900;
      color: #fff; }
    .header .row .down-arrow {
      margin-top: 3rem;
      animation-name: arrowMovement;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transition: all 0.4s ease; }
      .header .row .down-arrow a {
        color: #fff;
        font-size: 2.5rem; }
  .header .social-links {
    display: flex; }
    .header .social-links .__link {
      color: #fff;
      margin: 1rem;
      font-size: 2.8rem;
      transition: all 0.4s ease; }
      .header .social-links .__link:hover {
        opacity: 0.7;
        cursor: pointer; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 992px and up) */
/* Large devices (laptops/desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.boxTitle {
  text-align: center;
  padding: 0.5rem 1.8rem 0; }
  .boxTitle .__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px; }
  .boxTitle .hoz-line {
    width: 100%;
    height: 4px;
    background-color: #333;
    width: 8rem;
    margin: 0.4rem auto 0.6rem auto; }

.about {
  padding-bottom: 0; }
  .about .row .one {
    margin-bottom: 4rem; }
    @media only screen and (min-width: 992px) {
      .about .row .one .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center; } }
    .about .row .one .container .col-right .subtitle {
      padding: 2rem 0 0 0;
      font-size: 1.9rem;
      font-weight: 600; }
      @media only screen and (min-width: 992px) {
        .about .row .one .container .col-right .subtitle {
          padding-top: 0; } }
    .about .row .one .container .col-right .__text {
      padding: 0.4rem 0; }
  .about .row .two {
    background-color: #f5f5f5;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .about .row .two .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (min-width: 992px) {
      .about .row .two .container {
        grid-template-columns: repeat(4, 1fr); } }
    .about .row .two .container .item {
      padding: 1.5rem;
      margin: 0.5rem 0; }
      .about .row .two .container .item .icon {
        font-size: 2rem; }
      .about .row .two .container .item .__title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.4rem; }
      .about .row .two .container .item .__text {
        width: 60%;
        margin-left: auto;
        margin-right: auto; }
        @media only screen and (min-width: 992px) {
          .about .row .two .container .item .__text {
            width: 100%; } }

.boxTitle {
  text-align: center;
  padding: 0.5rem 1.8rem 0; }
  .boxTitle .__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px; }
  .boxTitle .hoz-line {
    width: 100%;
    height: 4px;
    background-color: #333;
    width: 8rem;
    margin: 0.4rem auto 0.6rem auto; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }
  @media only screen and (min-width: 992px) {
    .container {
      display: flex !important;
      align-items: center;
      justify-content: space-between; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes arrowMovement {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-30px); }
  80% {
    transform: translateY(0px); }
  90% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }
.resize-transition-stopper * {
  transition: none; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 992px and up) */
/* Large devices (laptops/desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 768px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; } }
@media only screen and (min-width: 992px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr); } }
.portfolio-grid .item {
  position: relative;
  margin: 2rem 0; }
  @media only screen and (min-width: 768px) {
    .portfolio-grid .item {
      margin: 0; } }
  .portfolio-grid .item:hover::after {
    width: 100%;
    height: 100%; }
  .portfolio-grid .item:hover .sub-item {
    opacity: 1; }
  .portfolio-grid .item::after {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: all 0.4s ease; }
  .portfolio-grid .item .sub-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease; }
    .portfolio-grid .item .sub-item .__title {
      color: #fff;
      text-transform: uppercase; }
    .portfolio-grid .item .sub-item .__text {
      color: #fff; }
